<nav class="w-full bg-gray-100 text-white border-b-2 border-gray-700 px-4 py-3 flex items-center justify-between">
  <!-- Logo / App Name -->
  <div class="text-xl text-gray-800 font-semibold tracking-wide">
    <%= link_to 'CSM', root_path, class: "mx-10" %>
  </div>

  <!-- Right side buttons -->
  <div class="flex items-center gap-4">
    <%= render 'shared/language_button' %>

    <!-- Authenticated User -->
    <% if user_signed_in? %>
      
      <!-- Admin User -->
      <% if current_user.admin? %>
        <span class="px-4 py-1 font-medium text-gray-800 hover:text-gray-400 transition">
          ADMIN
        </span>
      <% end %>
      <!-- End Admin User -->
      <%= render 'shared/user_button' %>

    <!-- Not Authenticated User -->
    <% else %>
      <span class="px-4 py-1 font-medium text-gray-800 hover:text-gray-400 transition">
        GUEST
      </span>

      <%= outline_link_to(t('.log_in').upcase, new_user_session_path) %>
    <% end %>
  </div>
</nav>
