<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  <% tags.each do |tag| %>

    <%= turbo_frame_tag tag do %>
      <div class="bg-gray-100 border border-gray-700 p-4 shadow-sm flex items-center justify-between">
        
        <div class="text-sm font-semibold text-gray-800 hover:underline underline-offset-2">
          <%= tag.name %>
        </div>

        <!-- Edit -->
        <div class="flex gap-3">
          <%= link_to edit_admin_tag_path(tag), class: "text-gray-600 hover:text-gray-800 transition test-edit-btn" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zM16.862 4.487L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
            </svg>
          <% end %>

          <!-- Delete -->
          <%= button_to admin_tag_path(tag), method: :delete, data: { confirm: t('.confirm_delete'), turbo_frame: "_top" }, class: "text-red-600 hover:text-red-800 transition test-delete-btn" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
