<div class="flex justify-between items-center mb-4">
  <p class="mx-3 text-gray-600"><%= t('.page_description') %>.</p>

  <%= outline_link_to(t('.add_new_announcement'), new_admin_announcement_path) %>
</div>