<div data-controller="dropdown"
     data-dropdown-target="container"
     data-action="click@window->dropdown#closeIfOutside"
     class="relative group user-button">

  <button data-action="click->dropdown#toggle"
          class="px-4 py-2 font-medium text-gray-800 hover:text-gray-400 transition uppercase flex items-center gap-2">
    ADMIN
    <svg data-dropdown-target="icon"
         class="w-4 h-4 transition-transform duration-200"
         fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path d="M19 9l-7 7-7-7"/>
    </svg>
  </button>

  <div data-dropdown-target="menu"
       class="absolute right-0 w-40 bg-gray-100 border-2 border-gray-700 rounded-none text-gray-800 shadow-md opacity-0 pointer-events-none transition-opacity z-50">
       
    <%= link_to admin_tags_path, class: "flex items-center gap-2 px-4 py-2 text-sm border-b border-gray-300 hover:bg-gray-200 hover:text-gray-600 transition" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
      </svg>

      <span><%= t('.tags') %></span>
    <% end %>

  </div>
</div>
